* { font-family: Roboto, sans-serif; }

dataset-card {
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: 800px) {
  dataset-card {
    width: 50%;
  }
}

@media screen and (min-width: 1120px) {
  dataset-card {
    width: 33.3%;
  }
}

@media screen and (min-width: 1200px) {
  dataset-card {
    width: 25%;
  }
}

#datasets {
  padding: 8px;
}

