// This is the font path used for glyphicons. In Gruntfile.js we have a dedicated
// copy-job which moves the fonts over to the right place.
$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
// endbower

// include only the parts of bootstrap sass we need to avoid trampling on
// mobile-angular-ui's styles too much
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_variables.scss";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_utilities.scss";

@import url(//fonts.googleapis.com/css?family=Nunito);

.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.app-name {
    font-family: 'Nunito', $font-family-base;
}

.weight-badge {
    @include button-size($padding-large-vertical, $padding-large-horizontal,
      $font-size-large, $line-height-large, $border-radius-large);
    @include user-select(none);
    color: #fff;
    text-align: center;
}

.weight-badge-danger { background-color: $brand-danger; }
.weight-badge-success { background-color: $brand-success; }

.weight-progress-container {
    .weight-progress-bar {
        padding-top: $padding-large-vertical;
        padding-bottom: $padding-large-vertical;

        .progress {
            border-radius: $border-radius-large;
            background-color: lighten($brand-primary, 25%);
            height: 43px - 2 * $padding-large-vertical; // FIXME should really be computed
        }

        .progress-bar {
            background-color: $brand-primary;
        }
    }

    .weight-progress-label {
        padding-top: $padding-large-vertical;
        padding-bottom: $padding-large-vertical;
    }
}

.weight-graph svg {
    height: (9/16) * 700px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.img-nav-profile {
    width: 30px;// ceil((1.5 * $line-height-computed));
    display: inline;
    margin-bottom: floor((-0.5 * (30 - $font-size-base)));
    margin-top: ceil((-0.5 * (30 - $font-size-base)));
    position: relative; top: -1px; // HACK
    margin-right: 0.5ex;
}

.nav-xs-profile { padding-right: $padding-base-horizontal; } // HACK

.nav-profile-name {
    //padding-right: 0.5ex;
}
