// This is the font path used for glyphicons. In Gruntfile.js we have a dedicated
// copy-job which moves the fonts over to the right place.
$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Nunito);

.navbar-brand {
    font-family: 'Nunito', $font-family-base;
}

.weight-badge {
    @include button-size($padding-large-vertical, $padding-large-horizontal,
      $font-size-large, $line-height-large, $border-radius-large);
    @include user-select(none);
    color: #fff;
    text-align: center;
}

.weight-badge-danger { background-color: $brand-danger; }
.weight-badge-success { background-color: $brand-success; }

.weight-progress-container {
    .weight-progress-bar {
        padding-top: $padding-large-vertical;
        padding-bottom: $padding-large-vertical;

        .progress {
            border-radius: $border-radius-large;
            background-color: lighten($brand-primary, 25%);
            height: 43px - 2 * $padding-large-vertical; // FIXME should really be computed
        }

        .progress-bar {
            background-color: $brand-primary;
        }
    }

    .weight-progress-label {
        padding-top: $padding-large-vertical;
        padding-bottom: $padding-large-vertical;

        .weight-progress-arrow {
            @extend .text-muted;
        }
    }
}

.weight-graph svg {
    height: (9/16) * 700px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.img-nav-profile {
    width: 30px;// ceil((1.5 * $line-height-computed));
    display: inline;
    margin-bottom: floor((-0.5 * (30 - $line-height-computed)));
    margin-top: ceil((-0.5 * (30 - $line-height-computed)));
    position: relative; top: -1px; // HACK
}

.nav-xs-profile { padding-right: $padding-base-horizontal; } // HACK

.nav-profile-name {
    //padding-right: 0.5ex;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}
