<div content-for="title">
  Login
</div>

<div content-for="navbarAction">
  <div class="btn btn-navbar" ng:click="doLogin()">
    <i class="fa fa-sign-in"></i> Sign in
  </div>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="container section">
      <h1>No signup required!</h1>
      <p>
        Weighty manages your weight loss record via a special Spreadsheet stored in
        your Google Drive.
      </p>
      <button ng:click="doLogin()" class="btn btn-lg btn-primary">
        Log in to Google Drive
      </button>
    </div>
  </div>
</div>
