<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">webapp</h3>
</div>

<div>
  Target weight: {{ targetWeight | weight }}
  Latest weight: {{ weightRecords[weightRecords.length-1].weight | weight }}
  On: {{ weightRecords[weightRecords.length-1].date | date : 'short' }}
  By: {{ targetDate | date : 'short' }}
</div>

<wa-weight-graph records="weightRecords">
</wa-weight-graph>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
