<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
    <li ng:if="!accessToken"><a ng:click="authenticate()">Login</a></li>
    <li ng:if="accessToken"><a ng:click="unauthenticate()">Logout</a></li>
  </ul>
  <h3 class="text-muted">webapp</h3>
</div>

<h1 class="visible-xs">Progress</h1>

<div class="row">
  <div class="col-sm-3 col-xs-4">
    <div class="weight-badge weight-badge-danger">
      {{ startWeight | number : 0 }} <small>kg</small>
    </div>
  </div>

  <div class="weight-progress-container col-sm-6 col-xs-4">
    <div class="hidden-xs">
      <wa-progress-bar min="0" max="100" value="{{ 100 * progress }}" />
    </div>
    <div class="visible-xs" style="text-align: center">
      <div><span class="glyphicon glyphicon-arrow-right"></span></div>
      <div>{{ 100 * progress | number : 0 }}%</div>
    </div>
  </div>

  <div class="col-sm-3 col-xs-4">
    <div class="weight-badge weight-badge-success">
      {{ targetWeight | number : 0 }} <small>kg</small>
    </div>
  </div>
</div>

<div class="weight-graph">
  <wa-weight-graph weights="weights" goal="goal" />
</div>

<h1 class="visible-xs">Vital Statistics</h1>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
