<div class="scrollable">
  <div class="scrollable-content">
    <div class="container section">
      <div ng:hide="isSignedIn" class="text-center">
        <h1>No sign up needed</h1>
        <p>
          You're nearly there. Weighty stores your weight records in a special
          spreadsheet in your Google Drive.
        </p>
        <button ng:click="doLogin()" class="btn btn-lg btn-primary">
          Sign in to Google Drive
        </button>
      </div>
      <div ng:show="isSignedIn" class="text-center">
        <div ng:show="me">
          <h1>Hello, {{ me.displayName }}</h1>
        </div>
        <button toggle="on" target="rightSidebar" class="btn btn-lg btn-primary">
          Manage your datasets
        </button>
      </div>
    </div>
  </div>
</div>
